<div id="siteFooter">
    <div class="row">
     <div class="six columns push-six">
            <h3>
                Contact us</h3>
            <ul>
                <li><a href="#">Email</a></li>
                <li><a href="#">Phone</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">FaceBook</a></li>
            </ul>
        </div>
        <div class="six columns pull-six">
            <h5>
                Menu</h5>
            <ul>
                <li><a href="#showcase">Showcase</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#benefits">Benefits</a></li>
                <li><a href="#media">Media</a></li>
            </ul>
        </div>
       
    </div>
</div>
<div id="copyright" class="container">
    <div class="row">
        <div class="twelve columns">
            <p>
                This template is a demo of Foundation using ASP.NET MVC</p>
        </div>
    </div>
</div>
@*
Written by Ed Charbeneau 2012
Twitter: EdCharbeneau
*@