<div id="siteHeader">
    <div class="row">
        <div class="four columns">
            <h1>Logo</h1>
        </div>
        <div class="eight columns">
            <ul class="nav-bar">
                <li><a href="#showcase" class="main">Showcase</a></li>
                <li><a href="#features" class="main">Features</a></li>
                <li><a href="#benefits" class="main">Benefits</a></li>
                <li><a href="#media" class="main">Media</a></li>
            </ul>
        </div>
    </div>
</div>